.send {
    position: fixed;
    bottom: 2px;
    width: 100% !important;

}
#signO {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 1;
    width: 100% !important;
}
#show {
    overflow-y: visible;
    height: 90vh;
    background-color: gray;
}